/* ========================General Formatting===================== */
body {
  padding: 1em;
  font-family: 'Cinzel', serif;
}
/* ========================Header===================== */
header {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-bottom: 1pt solid grey;
  font-weight: 700;
  padding: 1em;
}
header h1, h3 {
  margin: 0;
}
.logo {
  font-weight: 900;
  margin-bottom: 1em;
}
/* ========================Main Section of App===================== */
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
    /* ==============Search for Games===============*/
.search-section {
  width: 90%;
  height: 7em;
  margin: 0;
  padding: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-bottom: 1pt solid grey;
}

input {
  font-size: 15pt;
  font-family: 'Cinzel', serif;
}
.search-bar {
  margin-bottom: 1em;
}
#search-btn {
  border: 1pt solid black;
  background: transparent;
  padding: .25em;
}
.results-display button {
  border: 1pt solid grey;
  padding: .25em;
  margin: .25em;
  font-size: 12pt;
}

    /* ==============Games to compare/Display===============*/
.game-displays {
  width: 95%;
  height: 30em;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  border-bottom: 3pt solid black;
  border-radius: 7pt;
}
/* fix space between shadow and bottom border */
.display-cards {
  width: 40%;
  height: 25em;
  margin: 0 2em;
  text-align: center;
  border: 2pt solid black;
  border-top-right-radius: 7pt;
  border-top-left-radius: 7pt;
  border-bottom: transparent;
  box-shadow: 5px -1px;
}
.display-cards > img {
  width: auto;
  height: 30%;
}
.display-cards dd {
  text-align: left;
}
/* Come back and change to a "read more" button that expands and retracts the game description or display short desc. from API and then full desc. with modal */
.game-descriptions {
  height: 5em;
  overflow-y: scroll;
}


/* ========================Footer===================== */
